
@import "mixin";


body{ 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 130px auto 140px;
    grid-template-areas:" header"
                        " main"
                        " footer"
}


header{
    text-align: center;
    background-color: #E2C2A2;

}

main{
    grid-area: main;
    background-color: #E2C2A2;
}


footer{
    grid-area: footer;
    padding: 15px;
    justify-content: center;
    text-align: center;
    font-family: 'Varela Round', sans-serif;    
    background-color: black;
    color: white;
}



.t1{
    @include textos(40px,center);
}

.t2{
    @include textos(35px,center);
}

.t3{
    @include textos(22px,center);
    margin-bottom: 10px

}
.t4{
    @include textos(18px,justify);
}
